<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <link rel="apple-touch-icon-precomposed" href="apple-touch-icon-precomposed.png">
    <link rel="shortcut icon" href="favicon.ico">
    <meta name="msapplication-TileColor" content="#FFFFFF">
    <meta name="msapplication-TileImage" content="tileicon.png">

    <title>Вход - WEB</title>



    <link href="http://in.3level.ru/themes/twiboostrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://in.3level.ru/themes/twiboostrap/css/navbar-fixed-top.css" rel="stylesheet">
    <link href="http://in.3level.ru/themes/twiboostrap/css/sticky-footer.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

﻿<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container-fluid">
            <a class="brand" href="#">WEB</a>
            <div class="nav-collapse">
                <ul class="nav">

                </ul>
                <p class="navbar-text pull-right"><span class="label"></span></p>
            </div>
        </div>
    </div>
</div>


<!-- Fixed navbar -->
<div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="#"><img src="http://in.3level.ru/themes/twiboostrap/img/logo.png" title="WEB Class" alt="Logo"></a>&nbsp;
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Аккаунт<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li> <a href="http://in.3level.ru/?module=login">
                                <strong>                                                Логин                                                </strong>                                        </a></li>
                        <li> <a href="http://in.3level.ru/?module=register">
                                Регистрация                                                                                        </a></li>
                    </ul>
                </li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</div>

<div class="container-fluid">
    <h1>Вход</h1>


    <div class="alert alert-info">Поля, помеченные знаком <strong>*</strong>, обязательны для заполнения.</div>
    <form action = "" method = "POST" name = "FORM"  role="form">

        <fieldset class="well well-sm">


            <div class="row-fluid">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="">*Логин</label>


                        <input type = "text" name = "user_login"
                               value = "" class="form-control"
                               required                                       id = "">

                    </div>
                </div>


                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="">*Пароль</label>


                        <input type = "password" name = "user_password"
                               value = "" class="form-control"
                               required                                       id = "">

                    </div>
                </div>
            </div>
        </fieldset>

        <div align="right">
            <input type = "submit" class = "btn btn-primary" value = "Вход" name="submit_button">&nbsp;
            <input type = "button" class = "btn btn-info" value = "Справка" onclick = "window.open('http://in.3level.ru/help/2070.html', 'mywindow')" name="help_button">
        </div>
        <div>&nbsp;</div>

    </form>

</div>


<div id="footer">
    <div class="container">
        <p><SCRIPT
                    LANGUAGE="JavaScript">
                document.ondragstart = test;
                document.onselectstart = test;
                document.oncontextmenu = test;
                function test() {
                    return false
                }
            </SCRIPT>
        <body oncontextmenu="return false" oncopy="return false;" oncontextmenu="return false" onselectstart="return false;">
        <META HTTP-EQUIV=Cache-Control content=no-cache>
        <body topmargin=5 leftmargin=5 rightmargin=5 bottommargin=5
              oncontextmenu="return false" oncopy="return false" bgcolor=white
              text=black>

        <!-- Yandex.Metrika counter -->
        <script type="text/javascript">
            (function (d, w, c) {
                (w[c] = w[c] || []).push(function() {
                    try {
                        w.yaCounter34235890 = new Ya.Metrika({
                            id:34235890,
                            clickmap:true,
                            trackLinks:true,
                            accurateTrackBounce:true
                        });
                    } catch(e) { }
                });

                var n = d.getElementsByTagName("script")[0],
                    s = d.createElement("script"),
                    f = function () { n.parentNode.insertBefore(s, n); };
                s.type = "text/javascript";
                s.async = true;
                s.src = "https://mc.yandex.ru/metrika/watch.js";

                if (w.opera == "[object Opera]") {
                    d.addEventListener("DOMContentLoaded", f, false);
                } else { f(); }
            })(document, window, "yandex_metrika_callbacks");
        </script>
        <noscript><div><img src="https://mc.yandex.ru/watch/34235890" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
        <!-- /Yandex.Metrika counter --></p>
    </div>
</div>

<script src="java/main.js"></script>
<script src="http://in.3level.ru/themes/twiboostrap/js/jquery.min.js"></script>
<script src="http://in.3level.ru/themes/twiboostrap/js/bootstrap.min.js"></script>
</body>
</html>